@if require-font('PT Sans Caption') {

/* pt-sans-caption-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-caption-v19-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pt-sans-caption-700 - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-caption-v19-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

} // end @if
