@if require-font('Ubuntu Condensed') {

/* ubuntu-condensed-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-condensed-v16-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

} // end @if